<h2>All events</h2>
<ol>
  <% @events.each do |event| %>
  <li> Event: <%= link_to event.title, event %>  Date: <%= event.date %>  </li>
  <% end %>
</ol>
<%= link_to "Create an event", new_event_path %>